@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Выйти</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">(Кнопочка для админа)</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
