@page "/blocks/{sem:int}/edit/{id:long}"

@using BlazorPortfolio.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject HttpClient Http
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "Admin")]

<h3>Редактировать блок</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="Title">Заголовок</label>
            <input form="Title" class="form-control" @bind="@block.Title" />
        </div>
        <div class="form-group">
            <label for="Link">Ссылка</label>
            <input form="Link" class="form-control" @bind="@block.Link" />
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Save" value="Сохранить" />
            <input type="button" class="btn" @onclick="@Cancel" value="Отмена" />
        </div>
    </div>
</div>


@code {
    [Parameter]
    public long Id { get; set; }

    [Parameter]
    public int Sem { get; set; }

    Block block = new();

    protected override async Task OnInitializedAsync()
    {
        block = await Http.GetFromJsonAsync<Block>($"api/Blocks/{Id}");
    }

    protected async Task Save()
    {
        var response = await Http.PutAsJsonAsync($"api/Blocks/{Id}", @block);
        bool personResponse = await response.Content.ReadFromJsonAsync<bool>();
        if (personResponse)
        {
            NavigationManager.NavigateTo($"/blocks/{Sem}");
        }
    }
    void Cancel()
    {
        NavigationManager.NavigateTo($"/blocks/{Sem}");
    }
}
