@page "/about"

<h3>Обо мне</h3>
<div>
    <p>Привет! Меня зовут Данила Букин, я backend-разработчик, учусь в РГПУ им. Герцена</p>
    <p>Интересуюсь такими стеками и технологиями, как:</p>
    <ul>
        <li>Java, Kotlin</li>
        <li>Spring Framework</li>
        <li>C#, ASP.NET Core</li>
        <li>Data & database engineering</li>
        <li>Python</li>
        <li>Functional programming</li>
    </ul>
    <p>Мой профиль на <a href="https://github.com/bee-joo">GitHub</a></p>
</div>

<br />

<div>
    <LoginDisplay/>
</div>

@code {

}
