@page "/"

<PageTitle>Главная страница</PageTitle>

<h1>Добро пожаловать!</h1>

<p class="main">
    Вы находитесь на странице веб-портфолио по дисциплине "Программирование", созданного с помощью технологии Blazor WebAssembly
</p>
<br />

<div>
    <img src="https://cataas.com/cat?height=400" height="400px" alt="Здесь должен был быть котик"/>
</div>