@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h2>Как можно забыть то, чего не было?..</h2>
<hr />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
